extends layout

block content
  h2= form.title

  .form

    if form.isCreating
      - var actionUrl = "/prachy/typ/novy"
    else 
      - var actionUrl = "/prachy/typ/" + form.id + "/" + form.akce

    form(action=actionUrl,method="post")
      each field in fields
        .field
          span= field.label
          case field.control
            when 'input'
              input(type=field.input.type,name=field.name,value=field.value,readonly=field.isReadOnly,class=field.errorClass)
            when 'select'
              select(name=field.select.name)
                each option in field.select.options
                  option(value=option.value,selected=option.isSelected)= option.text
      .clearfix.button-box
        .button-row
          input(type="reset",value="Znovu")
        .button-row
          input(type="button",value="Zpět",onClick="location.href=form.backUrl")
        .button
          input(type="submit",value=form.submitButtonValue)

