extends layout

block content
  h1= message
  form(method='POST' action='/params')
    p
      label(for='currentDate') Akuální čas:
      input(type='text' name='currentDate' value=testParams.currentDate)
    p
      label(for='userId') Uživatelské Id:
      input(type='text' name='userId' value=testParams.userId)
    p
      label(for='userName') Uživatelské Id:
      input(type='text' name='userName' value=testParams.userName)
    p
      label(for='isAdmin') Je admin:
      input(type='checkbox' name='isAdmin' checked=testParams.isAdmin)
    p
      button(type="submit") Změň
    code(style='white-space: pre;')= data
